# TUTORIAL 4

## Question 6                            
Shruti Singh
180003053

In [6]:
import pandas as pd
import numpy as np

#### P1:

“Exotech Computers” manufactures computer components such as chips,
circuit boards, motherboards, keyboards, LCD panels, and the like and sells
them around the world. It wants to construct a new warehouse/distribution
canter in Asia to serve emerging Asian markets. It has identified sites in
Shanghai, Hong Kong, and Singapore and has rated the important location
factors for each site as follows:

In [7]:
data1 = {'Location Factors': ['Political stability','Economic growth','Port facilities','Container support','Land and construction cost','Transportation/distribution','Duties and tariffs','Trade regulations','Airline service','Area roads'],
        'Weight': [.25,.18,.15,.1,.08,.08,.07,.05,.02,.02],
         'Shanghai':[50,90,60,50,90,50,70,70,60,60],
         'Hong Kong':[80,80,95,80,50,80,90,95,80,70],
         'Singapore':[90,75,90,90,30,70,90,95,70,80]
        }
df1 = pd.DataFrame(data1, columns = ['Location Factors','Weight','Shanghai','Hong Kong','Singapore'])
df1

              Location Factors  Weight  Shanghai  Hong Kong  Singapore
0          Political stability    0.25        50         80         90
1              Economic growth    0.18        90         80         75
2              Port facilities    0.15        60         95         90
3            Container support    0.10        50         80         90
4   Land and construction cost    0.08        90         50         30
5  Transportation/distribution    0.08        50         80         70
6           Duties and tariffs    0.07        70         90         90
7            Trade regulations    0.05        70         95         95
8              Airline service    0.02        60         80         70
9                   Area roads    0.02        60         70         80

In [8]:
df1['Shanghai_ws']=df1['Weight']*df1['Shanghai']
df1['Hong Kong_ws']=df1['Weight']*df1['Hong Kong']
df1['Singapore_ws']=df1['Weight']*df1['Singapore']
df1

,Location Factors,Weight,Shanghai,Hong Kong,Singapore,Shanghai_ws,Hong Kong_ws,Singapore_ws
0,Political stability,0.25,50,80,90,12.5,20.00,22.50
1,Economic growth,0.18,90,80,75,16.2,14.40,13.50
2,Port facilities,0.15,60,95,90,9.0,14.25,13.50
3,Container support,0.10,50,80,90,5.0,8.00,9.00
4,Land and construction cost,0.08,90,50,30,7.2,4.00,2.40
5,Transportation/distribution,0.08,50,80,70,4.0,6.40,5.60
6,Duties and tariffs,0.07,70,90,90,4.9,6.30,6.30
7,Trade regulations,0.05,70,95,95,3.5,4.75,4.75
8,Airline service,0.02,60,80,70,1.2,1.60,1.40
9,Area roads,0.02,60,70,80,1.2,1.40,1.60

In [9]:
Shanghai_score=df1['Shanghai_ws'].sum()
HongKong_score=df1['Hong Kong_ws'].sum()
Singapore_score=df1['Singapore_ws'].sum()
print('Shanghai Score:',Shanghai_score,'\t','HongKong Score:',HongKong_score,'\t','Singapore Score:',Singapore_score)

Shanghai Score: 64.7 	 HongKong Score: 81.1 	 Singapore Score: 80.55

##### Since Hong Kong has the highest score, it is the recommended site.

#### P2:

Mega-Mart, a discount store chain, wants to build a new superstore in an
area in southwest Virginia near four small towns with populations between
8000 and 42, 000. The coordinates (in miles) of these four towns and the
market population in each are as follows:

In [10]:
data2={'Towns':['Whitesburg','Altonville','Campburg','Milligan'],
       'X':[12,18,30,32],
       'Y':[20,18,7,25],
       'W':[26000,14000,9500,12000]
      }
df2 = pd.DataFrame(data2, columns = ['Towns','X','Y','W'])
df2

        Towns   X   Y      W
0  Whitesburg  12  20  26000
1  Altonville  18  18  14000
2    Campburg  30   7   9500
3    Milligan  32  25  12000

In [11]:
X_cog= (df2.X * df2.W).sum()/df2.W.sum()
Y_cog= (df2.Y * df2.W).sum()/df2.W.sum()
print("Using Centre of Gravity, The required coordinates are:(",X_cog,",",Y_cog,")")

Using Centre of Gravity, The required coordinates are:( 20.048780487804876 , 18.51219512195122 )

#### P3:

An army division in Iraq has five troop encampments in the desert, and the
division leaders want to determine the best location for a supply to serve the
camps. The (x, y) coordinates (in miles) of the camps, A, B, C D, and E, and
the daily amount of supplies (in tons) required at each camp are as follows:

In [12]:
data3={'Camp':['A','B','C','D','E'],
       'X':[110,70,520,300,400],
       'Y':[120,300,350,450,600],
       'DailyTonnage':[85,110,75,60,100]
      }
df3 = pd.DataFrame(data3, columns = ['Camp','X','Y','DailyTonnage'])
df3

  Camp    X    Y  DailyTonnage
0    A  110  120            85
1    B   70  300           110
2    C  520  350            75
3    D  300  450            60
4    E  400  600           100

In [13]:
X_cog= (df3.X * df3.DailyTonnage).sum()/df3.DailyTonnage.sum()
Y_cog= (df3.Y * df3.DailyTonnage).sum()/df3.DailyTonnage.sum()
print("Using Centre of Gravity, The required coordinates are:(",X_cog,",",Y_cog,")")

Using Centre of Gravity, The required coordinates are:( 265.2325581395349 , 363.83720930232556 )

#### P4:

In P3, suppose the division commanders are limited to three possible sites for
the supply depot because of airfield locations and enemy troop
concentrations. The coordinates (in miles) of these three potential sites are:
site 1 (400, 250), site 2 (100, 200) and site 3 (200, 500). Using the load-distance
technique, determine the best site for the depot.

In [14]:
sites=[(400,250),(100,200),(200,500)]
df3['Site1']=np.sqrt((df3.X-sites[0][0])**2 + (df3.Y-sites[0][1])**2)
df3['Site2']=np.sqrt((df3.X-sites[1][0])**2 + (df3.Y-sites[1][1])**2)
df3['Site3']=np.sqrt((df3.X-sites[2][0])**2 + (df3.Y-sites[2][1])**2)
df3

  Camp    X    Y  DailyTonnage       Site1       Site2       Site3
0    A  110  120            85  317.804972   80.622577  390.512484
1    B   70  300           110  333.766385  104.403065  238.537209
2    C  520  350            75  156.204994  445.982062  353.411941
3    D  300  450            60  223.606798  320.156212  111.803399
4    E  400  600           100  350.000000  500.000000  223.606798

In [15]:
Site1_score=(df3.Site1 * df3.DailyTonnage).sum()
Site2_score=(df3.Site2 * df3.DailyTonnage).sum()
Site3_score=(df3.Site3 * df3.DailyTonnage).sum()
print('Site 1 Score:',Site1_score,'\t','Site 2 Score:',Site2_score,'\t','Site 3 Score:',Site3_score)

Site 1 Score: 123859.50735859192 	 Site 2 Score: 120995.28363962055 	 Site 3 Score: 115007.43337283743

##### Since Site 3 has the minimum score, it is the best site for depot.